<% @person.errors.full_messages.each do |msg| %>
  <div><%= msg %></div>
<% end %>

<%= form_for @person do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <% if @person.new_record? %>
  <div>
    <%= f.label :terms, "Accepts terms and conditions" %>
    <%= f.check_box :terms %>
  </div>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
