<% @dog.errors.full_messages.each do |msg| %>
  <div><%= msg %></div><br/>
<% end %>
<%= form_for @dog do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :color %>
  <%= f.text_field :color %><br/>
  <%= f.label :age %>
  <%= f.text_field :age %><br/>
  <%= f.submit %>
<% end %>